a {
    color: lightcoral;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

a:hover {
    background-color: green;
    font-size: larger;
}

body {
    background-color: rgb(29, 0, 109);
    color: white;
    text-shadow: 2px 2px black;
}

h1,
h3 {
    color: aqua;
}

hr {
    background-color: none;
    border-style: dotted none none;
    border-width: 7px;
    color: whitesmoke;
    opacity: 50%;
    width: 50px;
}

img {
    height: 200px;
}

.border1,
.border1 table,
.border1 td,
.border1 th,
.border1 tr {
    border: 1px solid;
}

.border1 td {
    padding: 5px;
}

.center {
    margin: 0 auto;
}

.externalLinks {
    color: aquamarine !important;
}

.nobackground {
    background-color: transparent;
}

.nobackground:hover {
    background-color: transparent;
    font-size: large;
}

.ufmg {
    color: navajowhite;
}

.zoom {
    transition: transform 0.4s;
}

.zoom:hover {
    scale: 1.1;
}