h1 {
    color: red;
    font-size: 50px;
}

/*
Classes are more general than id, and can be aplied to multiple elements. It has less effect than id.
Classes have more 'power' than then general structure attribute.
*/

.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

.purple {
    color: purple;
}

.round-corners {
    border-radius: 25%;
}

.unzoom .zoom {
    transition: transform .2s;
}

.unzoom:hover {
    transform: scale(0.9);
}

.zoom:hover {
    transform: scale(1.1);
}

/*
Id Selector is more specific than class and the general structure property and only works for a single item with the unique id.
Two items can't have the same id.
*/
#heading {
    color: blue;
}