body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

div {
    background-color: #8758FF;
    color: #F2F2F2;
}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 3.5em;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-bottom: 0;
    padding-bottom: 8px;
}

span.underline {
    text-decoration: underline;
}

div.top-container {
    position: relative;
    padding-top: 100px;
}

div.bottom-container,
div.middle-container {
    height: 200px;
    width: 200px;
}

div.bottom-container {
    background-color: yellow;
}

div.middle-container {
    background-color: red;
}

img.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

img.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}