body {
    margin: 0;
}

div {
    background-color: #8758FF;
    color: #F2F2F2;
}

h1 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
    padding-bottom: 8px;
}

span.underline {
    text-decoration: underline;
}

div.bottom-container,
div.middle-container {
    height: 200px;
    width: 200px;
}

div.bottom-container {
    background-color: yellow;
}

div.middle-container {
    background-color: red;
}