h1 {
    color: red;
    font-size: 50px;
}

/*
Classes are more general than id, and can be aplied to multiple elements. It has less effect than id.
Classes have more 'power' than then general structure attribute.
*/

.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}

.purple {
    color: purple;
}

.unzoom .zoom {
    transition: transform .2s;
}

.unzoom:hover {
    transform: scale(0.9);
}

.zoom:hover {
    transform: scale(1.1);
}